$pink :rgb(255,208,203);

$black:rgb(0, 0, 0);

$white:rgb(255, 255, 255);

$grey :rgb(155, 155, 155);

$orange : rgb(255, 100, 0);

$lightgrey1 : rgb(234,235,237);

$lightgrey :#ccc;

$darkgrey : rgb(74,74,74);

$darkblue : rgb(25, 41, 64);

$blueFB :  rgb(59, 89, 152);

$orangeGG : rgb(221, 75, 57);