main {
  position: relative;
  min-height: 40vh;
  background: #fee648;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

main .container .user .formBx form .close {
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
}

main .container .user .formBx form .close:hover,
main .container .user .formBx form .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

main .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

main .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

main .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

main .container .user .formBx form input {
  position: relative;
  width: 80%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 30px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
main .container .user .formBx form #toggle {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  background: url(show.png);
  background-size: cover;
  cursor: pointer;
}

main .container .user .formBx form #toggle.hide {
  background: url(hide.png);
  background-size: cover;
}

main .container .user .formBx form input[type="submit"] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

main .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

main .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

main .container .signupBx {
  pointer-events: none;
}

main .container.active .signupBx {
  pointer-events: initial;
}

/* Sign Up */
main .container .signupBx .formBx {
  left: 100%;
}

main .container.active .signupBx .formBx {
  left: 0;
}

main .container .signupBx .imgBx {
  left: -100%;
}

main .container.active .signupBx .imgBx {
  left: 0;
}

/* SignIn */
main .container .signinBx .formBx {
  left: 0;
}

main .container.active .signinBx .formBx {
  left: 100%;
}

main .container .signinBx .imgBx {
  left: 0;
}

main .container.active .signinBx .imgBx {
  left: -100%;
}

main .container .signinBx .formBx .text-area p.or {
  width: 260px;
  height: 10px;

  /* background: #fee648; */

  text-align: center;
  position: relative;

  border-top: 1px solid rgb(74, 74, 74);

  margin-top: 30px;
  margin-left: 10px;
}

main .container .signinBx .formBx .text-area span.or {
  background-color: white;
  color: rgb(74, 74, 74);

  width: 60px;
  font-size: 20px;

  transform: translate(-50%, -50%);
  position: absolute;
}

main .container .signinBx .formBx .text-area a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;

  width: 50px;
  height: 50px;

  margin-top: 10px;
}

main .container .signinBx .formBx .text-area a:hover {
  background-color: rgb(255, 208, 203);
  color: rgb(25, 41, 64);
}
