.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 900px;
  height: 350px;

  position: relative;
  margin: 180px 0 0 350px;

  border-radius: 20px;

  background: linear-gradient(135deg, #182f41, #f19372);
}

.card img {
  position: absolute;

  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  transition: 0.7s;

  height: 400px;

  background-color: none;
}

.card:hover img {
  left: 80%;
  height: 500px;
  z-index: 2000;
}

.card .content {
  position: relative;

  width: 50%;
  left: 20%;

  padding: 20px 20px 20px 40px;

  opacity: 0;
  visibility: hidden;

  transition: 0.7s;
}

.card:hover .content {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}

.card .content p {
  margin-top: 3px;
  color: #fff;
  font-size: 1.3em;
}

.card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;

  color: #111;
  background: #fff;

  border-radius: 10px;
  margin-top: 30px;
  text-decoration: none;
}

.card .content .button-add {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;

  position: absolute;
  top: 150px;
  left: 40px;
}

.card .content .button-add .is-form {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  height: 2.5rem;
  width: 2rem;
  padding: 0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.card .content .button-add .is-form:focus {
  outline: none;
}

.is-form:focus .input-text:focus {
  outline: none;
}

.card .content .button-add .is-form.minus {
  border-radius: 4px 0 0 4px;
}

.card .content .button-add .is-form.plus {
  border-radius: 0 4px 4px 0;
}

.card .content .button-add .input-qty {
  background-color: #fff;
  height: 2.5rem;

  text-align: center;
  font-size: 1rem;
  display: inline-block;

  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  border-left: 0;
  border-right: 0;
  padding: 0;
}
.card .content .button-add .input-qty:focus {
  outline: none;
}
.card .content .button-add .input-qty::-webkit-outer-spin-button,
.card .content .button-add .input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
